<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册-简书</title>
    <script src="node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link href="//cdn2.jianshu.io/assets/favicons/favicon-03411b154a430b85d807b4366489c21122fb983a38f3d7ca926f882e6367b13e.ico" rel="icon">
    <script src="js/jquery-2.2.3.min.js"></script>
</head>
<body>
    <img class='logo'src="img/download.png" alt="">
    <div id="wrap">
        <ul id="reg">
            <li>
                <span v-on:click='login' >登录</span>
                <span>.</span>
                <span class="clicked">注册</span>
            </li>
            <li><div class="li2"></div></li>
            <li class="user"><img src="img/用户.png" alt="">
                <input type="text" v-model="input1" placeholder="你的昵称"></li>
            <li class="user"><img src="img/手机.png" alt="">
                <input type="text" v-model="input2"placeholder="手机号"></li>
            <li class="user"><img src="img/password.png" alt="">
                <input type="password" v-model="input3"placeholder="设置密码"></li>
            <li> <div class="li3"></div></li>
            <li><input type="submit" v-on:click="pd()" value="注册"></li>
            <li>
                <p><span>{{agreeReg}}</span></p>
                <p><a href="http://www.jianshu.com/p/c44d171298ce">用户协议</a>
                    <span>和</span>
                    <a href="http://www.jianshu.com/p/2ov8x3">隐私注册</a></p>
            </li>
            <li></li>
            <li><div class="li9"><span></span><span></span>{{sj2}}<span></span></div></li>
            <li class="other">
                <a href=""><img src="img/weibo.png" alt=""></a>
                <a href=""><img src="img/weixin.png" alt=""></a>
                <a href=""><img src="img/QQ.png" alt=""></a>
            </li>
        </ul>
    </div>
    <script>
        var url='login.html';
        var re=/^1[3|4|5|7|8]\d{9}$/;
        var reg=new Vue({
            el:'#reg',
            data:{
                agreeReg:'点击 “注册” 即表示您同意并愿意遵守简书',
                sj2:'社交账号直接注册',
                url:url,
                input1:'',
                input2:'',
                input3:''
            },
            methods:{
                login:function () {
                    window.location.href=url;
                },
                pd:function () {

                    if (!re.test(this.input2)){
                        alert("请输入正确的手机号");
                        return false;
                    }
                    if(this.input1==''){
                        alert("昵称不能为空!!!");
                        return false;
                    }if(this.input3==''){
                        alert("密码不能为空!!!");
                        return false;
                    }

                }
            }
        })
    </script>
</body>
</html>